<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>chatter | <%= chat.chatName %></title>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
        <h3> | <%= chat.chatName %></h3>
        <h2>Logged in as <b><%= user.login %></b></h2>
    </header>
    <nav>
        <%- include('partials/navbar.ejs') %>
    </nav>
    <main>
        <div id="content-container">
            <div id="chat-header">
                <h1 id="chat-title">
                    <b><%= chat.chatName %></b> &nbsp;
                    <% chat.members.forEach( function(member) { %>
                        <% if( member.owner) { %>
                            <i class="fas fa-crown"></i>
                        <% } %>  
                        <%= member.login %>
                    <% }) %>
                </h1>
                <a href="">leave chat</a>
            </div>
            <div id="chat">
                 <% chat.messages.forEach( msg => { %>
                    <% if (msg.authorId == user._id) { %>
                        <div class="message message-user">
                            <span><b><%= user.login %></b> <%= msg.date %> </span>
                            <hr/>
                            <%= msg.text %>
                        </div>
                    <% } else if (msg.authorId == "0") { %>
                        <div class="message message-system">
                            <span><%= msg.text %></span>
                        </div>
                    <% } else { %>
                        <div class="message message-friend">
                            <span><b><%= msg.authorLogin %></b> <%= msg.date %> </span>
                            <hr/>
                            <%= msg.text %>
                        </div>
                    <% } %>
                <% }) %>
            </div>

            <form id="message-form" >
                <textarea class="form-control" rows="2" cols="6" name="message" required></textarea>
                <button type="submit"><img src="/img/send.png" alt=""></button>
            </form>
            </div>
        </div>
        
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    
    <%- include('partials/scripts.ejs') %>
    <script src="/js/chatClient.js"></script>
</body>
</html>