<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>chatter | create chat</title>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
        <h3> | create chat</h3>
        <h2>Logged in as <b><%= user.login %></b></h2>
    </header>
    <nav>
        <%- include('partials/navbar.ejs') %>
    </nav>
    <main>
        <div id="content-container">
            <form id="create-chat-form" action="">
                <label for="chat_name">new chat name</label><br/>
                <input type="text" id="chat_name" />
                <h3 id="select-friends">Select friends</h3>
                <ul>
                    <li><input type="checkbox" name="" id="" value="user1.id"> <span>user1</span> </li>
                    <li><input type="checkbox" name="" id="" value="user2.id"> <span>user1</span> </li>
                    <li><input type="checkbox" name="" id="" value="user3.id"> <span>user1</span> </li>
                    <li><input type="checkbox" name="" id="" value="user4.id"> <span>user1</span> </li>
                </ul>
                <button type="submit">create</button>
            </form>
        </div>
        
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    
    <%- include('partials/scripts.ejs') %>
</body>
</html>