<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>chatter | find chat</title>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
        <h3> | find chat</h3>
        <h2>Logged in as <b><%= user.login %></b></h2>
    </header>
    <nav>
        <%- include('partials/navbar.ejs') %>
    </nav>
    <main>
        <div id="content-container">
            <form id="find-chat-form" action="">
                <label for="chat_name">chat name</label>
                <input type="text" name="chat_name" id="chat_name">
                <button>Find</button>
            </form>

            <div id="find-results">
                <h2>Results: </h2>
                <ul>
                    <li>
                        <button>Join</button> <span>chat 1</span>
                    </li>
                    <li>
                        <button>Join</button> <span>chat 2</span>
                    </li>
                    <li>
                        <button>Join</button> <span>chat 3</span>
                    </li>
                </ul>
            </div>
        </div>
        
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    
    <%- include('partials/scripts.ejs') %>
</body>
</html>