<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>chatter | friends</title>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
        <h3> | friends</h3>
        <h2>Logged in as <b><%= user.login %></b></h2>
    </header>
    <nav>
        <%- include('partials/navbar.ejs') %>
    </nav>
    <main>
        <div id="content-container">
            <ul id="friends-list"></ul>

            <form id="invite-friend-form">
                <h3>user login</h3>
                <input type="text" id="user-login" required>
                <button id="invite-btn">invite</button>
            </form>
            <hr>
            <div id="invitations">
                <h2>pending invitations</h2>
                <h4>friends</h4>
                <div id="friends-invitations"></div>
                
                <h4>chats</h4>
                <div id="chats-invitations"></div>
                
            </div>
        </div>
        
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    
    <%- include('partials/scripts.ejs') %>
    <script src="/js/friendsClient.js"></script>
</body>
</html>