<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>chatter | friends</title>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
        <h3> | friends</h3>
        <h2>Logged in as <b><%= user.login %></b></h2>
    </header>
    <nav>
        <%- include('partials/navbar.ejs') %>
    </nav>
    <main>
        <div id="content-container">
            <ul id="friends-list">
                <li>user1</li>
                <li>user2</li>
                <li>user3</li>
                <li>user4</li>
            </ul>

            <form id="invite-friend-form">
                <h3>user login</h3>
                <input type="text" id="user-login">
                <button id="invite-btn">invite</button>
            </form>
            <hr>
            <div id="invitations">
                <h2>pending invitations</h2>
                <h4>friends</h4>
                <p>
                    <button> <img src="/img/accept.png" alt="accept button"/> </button>
                    <button> <img src="/img/decline.png" alt="decline button"/> </button>
                    <span>user1</span>
                </p>
                <p>
                    <button> <img src="/img/accept.png" alt=""/> </button>
                    <button> <img src="/img/decline.png" alt=""/> </button>
                    <span>user2</span>
                </p>
               
                <h4>chats</h4>
                <p>
                    <button>
                        <img src="/img/accept.png" alt="accept button"/>
                    </button>
                    <button>
                        <img src="/img/decline.png" alt="decline button"/>
                    </button>
                    <span>chat1(user1, user2, user3)</span>
                </p>
                
            </div>
        </div>
        
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    
    <%- include('partials/scripts.ejs') %>
    <script src="/js/friendsClient.js"></script>
</body>
</html>