<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>chatter | Home</title>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
        <h3>| home</h3>
        <h2>Logged in as <b><%= user.login %></b></h2>
    </header>
    <nav>
        <%- include('partials/navbar.ejs') %>
    </nav>
    <main>
        <div id="content-container">
            <table class="table table-hover">
                <tbody>
                    <% if (!chats.length) { %> 
                        <h1>You have not joined any chat yet. </h1>
                    <% } %>

                    <% chats.forEach( function(chat) { %>
                    <tr>
                        <td><a href="/chat/<%= chat._id %>"><%= chat.chatName %></a></td>
                        <td>
                            <% chat.members.forEach( function(member) { %>
                                <% if( member.owner) { %>
                                    <i class="fas fa-crown"></i>
                                <% } %>
                                <%= member.login %> &nbsp;&nbsp;&nbsp;
                            <% }) %>
                        </td>
                        <td>msg icon</td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
        </div>
        
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    
    <%- include('partials/scripts.ejs') %>
</body>
</html>