<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>chatter | Home</title>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <h1>Logged in as <b><%= user.login %></b></h1>
       
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    
    <%- include('partials/scripts.ejs') %>
</body>
</html>