<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Welcome to chatter!</title>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <% const { success, error } = getMessages(); 
           if (success) { %> <h1 class="flash success"><%= success %></h1> <% }
           if (error) { %> <h1 class="flash error"><%= error %></h1> <% } %>

        <img class="flying-msg msg-top" src="img/message.png" alt="">
        <img class="flying-msg msg-mid" src="img/message.png" alt="">
        <img class="flying-msg msg-bot" src="img/message.png" alt=""> 
        <div id="forms">
            <form id="sign-in-form" action="/login" method="POST">
                <h1>Sign In</h1>
                <label for="sign_in_login">Login</label><br/>
                <input type="text" name="sign_in_login" id="sign_in_login" required><br/>
                <label for="sign_in_password">Password</label><br/>
                <input type="password" name="sign_in_password" id="sign_in_password" required><br/>
                <button type="submit">Sign in</button>
            </form>
    
            <form id="sign-up-form" action="/register" method="POST">
                <h1>No account yet?<br/>Sign up now!</h1>
                <label for="login">Login</label><br/>
                <input type="text" name="login" id="login" required><br/>
                <label for="email">Email</label><br/>
                <input type="email" name="email" id="email" required><br/>
                <label for="password">Password</label><br/>
                <input type="password" name="password" id="password" required><br/>
                <label for="confirm">Confirm password</label><br/>
                <input type="password" name="confirm" id="confirm" required><br/>
                <button type="submit">Sign up</button>
            </form>
        </div>
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    
    <%- include('partials/scripts.ejs') %>
    <script src="js/flyingMsg.js"></script>
</body>
</html>